.container{
  padding: 1rem 1rem !important;
}
.themeText{
  color: #2e8b57 !important;
  font-size: 40px;
}
.sectionPadding{
  padding: 1rem 0 !important;
}
.list{
  list-style-position: inside;
  padding-left: 1rem;
}