.container {
    padding: 1.5rem 1rem;
  }
  
  .themeText {
    color: #2e8b57;
  }
  
  .sectionPadding {
    padding: 1rem 0;
  }
  .link {
    text-decoration: none;
    display: inline-flex; 
    align-items: center; 
    padding-top: 0; 
    font-weight: 500;
    width: auto;
    gap: 1rem; 
}

  
  .link:hover {
    text-decoration: underline;
    color: blueviolet;
  }
  
  .download {
    margin-right: 1rem !important;
    position: relative;
    top: 0.3rem;
  }
  