@media only screen and (min-width: 800px) {
  .newshead {
    font-size: 1vw;
  }
}

@media only screen and (min-width: 500px) and (max-width: 800px) {
  .newshead {
    font-size: 6vw;
  }
}

@media only screen and (max-width: 500px) {
  .newshead {
    font-size: 10vw;
  }
}

.newshead {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 52px;
  margin-bottom: 5px;
}

.item-list {
  list-style: none;
  padding-left: 10px;
}

.item-list li {
  margin-bottom: 10px;
}

.item-link {
  font-family: "Playfair Display", serif;
  font-style: italic;
  text-decoration: none;
  color: #1976d2;
}

.item-link:hover {
  text-decoration: underline;
}

.achievements {
  border-top: 1px solid rgba(15, 70, 100, 0.12);
  padding-top: 15px;
  margin-top: -10px;
}

.paper-card {
  box-shadow: none !important;
}
